doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    div.container
            ul.col-md-12.row
                a(href="/")
                    li.col-md-3.col-md-offset-1 Home
                a(href="/ross")
                    li.col-md-3 Darren Ross
                a(href="/rice")
                    li.col-md-3 Devon Rice
                a(href="/nelson")
                    li.col-md-3 Carl Nelson
  body
    block content
